pandas~=2.1.4
rdkit~=2023.9.6
requests_cache~=1.2.1
chembl-structure-pipeline~=1.2.2
datamol~=0.12.5
molfeat~=0.10.0
requests~=2.31.0
seaborn~=0.13.2
plotly~=5.18.0
scipy~=1.11.1
scikit-learn~=1.4.2
twinning@git+https://github.com/avkl/twinning.git@8c6ffdd73531039733a52f0f8cf67efe4f38383f
hyperopt~=0.2.7
xgboost~=1.7.6